simulation-methods/problem-set-1/fsm_ex1_task2
simulation-methods/problem-set-1/fsm_ex1_task3
simulation-methods/problem-set-1/fsm_ex1_task4
simulation-methods/problem-set-1/test
machine-learning/sine.png
simulation-methods/problem-set-2/scatter.png
simulation-methods/problem-set-2/scatter.eps
simulation-methods/problem-set-2/exact_inversion.eps
simulation-methods/problem-set-2/metropolis.eps
